@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animated-gradient {
  background-size: 200% auto;
  background-image: linear-gradient(to right, #60a5fa 0%, #ffffff 50%, #60a5fa 100%);
  animation: gradientAnimation 4s linear infinite;
}

@keyframes gradientAnimation {
  0%{background-position:0% center}
  50%{background-position:100% center}
  100%{background-position:0% center}
}
